body{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1024px;
    height: 768px;
    display: flex;
    background-image: url(./img/samuel-zeller-242172-unsplash.jpg);
}

.left-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.5);
}

.right-box{
    margin-top: 16%;
    width: 60%;
    text-align: center;
}

.name{
    margin: 50px 10px 50px 10px;
    font-family: Roboto;
    font-style: Light;
    font-size: 40px;
    text-align: center;
    color: white;
}

.picture{
    margin-top: 30%;
    width: 228px;
    height: 228px;
    background-image: url(./img/27867770_1746012032127377_1332655718833146407_n.jpg);
    border-radius: 119px;
    display: inline-block;
    border: solid white;
}

.title{
    margin: 0 100px 0 100px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 72px;
    text-align: center;
    color: black;
}

.text-lorem{
    margin: 0 100px 20px 60px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    color: white;
}

.button{
    padding: 0px;
    margin: 170px 0 50px 0;
    font-family: Roboto;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 205px;
    height: 50px;
    display: inline-block;
    border: black;
}

.button:hover{
    background-color: yellow;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav-item{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: black;
}

.nav-item a{
    font-size: 30px;
    color: white;
}
.nav-item:hover{
    cursor: pointer;
    background-color: yellow;
}